<div class="col-xs-3 col-md-2">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
        <li class="active"><a href="#ext" data-toggle="tab">Ext</a></li>
    </ul>
</div>
<div class="col-xs-9 col-md-10">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="ext">
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>
                            <input type="checkbox" ng-model="curWidget.config.option.suppressMenuHide"
                                   ng-init="curWidget.config.option.suppressMenuHide=false"> 显示菜单按钮
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>
                            <input type="checkbox" ng-model="curWidget.config.option.enableColResize"
                                   ng-init="curWidget.config.option.enableColResize=false"> 可拉伸列宽
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>
                            <input type="checkbox" ng-model="curWidget.config.option.suppressRowClickSelection"
                                   ng-init="curWidget.config.option.suppressRowClickSelection ? null : curWidget.config.option.suppressRowClickSelection=true">
                            抑制行点击选择
                        </label>
                    </div>
                    <div class="form-group col-md-1">勾选类型</div>
                    <div class="form-group col-md-2">
                        <select class="form-control" ng-model="curWidget.config.option.rowSelection"
                                ng-disabled="curWidget.config.option.suppressRowClickSelection">
                            <option value="single">单选</option>
                            <option value="multiple" ng-selected="1">多选</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>
                            <input type="checkbox" ng-model="curWidget.config.option.enableStatusBar"
                                   ng-init="curWidget.config.option.enableStatusBar ? curWidget.config.option.enableStatusBar=true : null">
                            开启状态栏功能
                        </label>
                    </div>
                    <div class="form-group col-md-1">显示状态</div>
                    <div class="form-group col-md-2">
                        <label>
                            <select class="form-control" ng-model="curWidget.config.option.alwaysShowStatusBar"
                                    ng-disabled="!curWidget.config.option.enableStatusBar">
                                <option value="true" ng-selected="1">一直显示</option>
                                <option value="false">计算时显示</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>
                            <input type="checkbox" ng-model="curWidget.config.option.pagination"
                                   ng-init="curWidget.config.option.pagination ? curWidget.config.option.pagination=true : null">
                            开启分页功能
                        </label>
                    </div>
                    <div class="form-group col-md-1">每页行数</div>
                    <div class="form-group col-md-2">
                        <input class="form-control" ng-model="curWidget.config.option.paginationPageSize"
                               ng-disabled="!curWidget.config.option.pagination">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


